body {
  background-image: url(../img/back.jpg);
  font-family: Gill Sans, sans-serif;

}
.panel-heading {
  background-color: coral !important;
  border: 3px solid coral !important;
}

.panel-body {
  background-color: sandybrown;
  border: 3px solid orange;
}

 ol {
   text-align: center;
   list-style-position: inside;
   white-space: nowrap;
 }

img {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 50px;
}

.jumbotron {
  margin-top: 20px;
  text-align:center;
  background-color: coral;
}
