body {
  background-color: moccasin;
  font-family: Gill Sans, sans-serif;

}
.panel-heading {
  background-color: sandybrown !important;
  border: 3px solid coral !important;
}

.panel-body {
  background-color: sandybrown;
}
h1 {

}

h2 {

}

img {
  height: 200px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 50px;
}
